@font-face {
    font-family: 'GenBkBasB';
    src: url('../assets/fonts/GenBkBasB.ttf');
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('../assets/fonts/Lato-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "GenBkBasB";
    font-size: 16px;
}

.header {
    width: 100%;
    height: 100vh;
    background: url(../assets/img/background-header.png) no-repeat;
    background-size: cover;
    background-position-x: 100%;
    background-position-y: 40%;
}

.background-parts {
    width: 100%;
    height: 100%;
}

.about {
    height: 100vh;
    width: 100%;
    background: green;
}

h1 {
    width: 50%;
    font-size: 4.5em;
    font-weight: bold;
    position: absolute;
    top: 25%;
    left: 15%;
    color: white;
}

section {
    height: 100vh;
    background-color: lightcoral;
    overflow: hidden;
    position: relative;
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform-origin: center center;
}

video::-webkit-media-controls {
    display: none !important;
}

nav {
    top: 0;
    position: fixed;
    z-index: 100;
    opacity: 1;
    justify-content: flex-end;
    align-items: center;
    -webkit-transform: translate3d(0, 0, 0);
    width: 100%;
    height: 70px;
    display: flex;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 2em;
    font-weight: bold;
}

nav ul {
    width: 100%;
    list-style-type: none;
    min-width: 850px;
    justify-content: space-around;
    display: flex;
}

section.section-about {
    background-image: url(../assets/img/bg-about.jpg);
    background-repeat: repeat;
    font-family: "Lato-Regular";
}

section.section-controls {
    background-image: url(../assets/img/bg-rules.jpg);
    background-repeat: repeat;
    font-family: "Lato-Regular";
}

section.section-screenshots {
    background-image: url(../assets/img/bg-screenshots.png);
    background-repeat: repeat;
    font-family: "Lato-Regular";
}

section.section-developer {
    background-image: url(../assets/img/bg-developer.png);
    background-repeat: repeat;
    font-family: "Lato-Regular";
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 0 14px 40px;
    text-decoration: none;
}

nav li a:hover {
    color: #388ff8;
}

.active {
    color: #388ff8;
}

nav ul li {
    position: relative;
}

.logo {
    display: flex;
    width: 30%;
}

.logo img {
    margin-left: 3%;
}

.back-to-top {
    width: 50px;
    height: 50px;
    top: 85%;
    left: 2%;
    background: url(../assets/img/backToTop.png) no-repeat;
    position: fixed;
    z-index: 101;
    display: none;
}

.container-header {
    position: relative;
}

.container-about-left {
    height: 100%;
    width: 48%;
    position: relative;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-about-left img {
    width: 400px;
    height: 400px;
}

.art-about h2 {
    text-align: center;
    font-weight: bold;
    font-size: 3.5em;
}

.art-about {
    box-sizing: border-box;
    padding-top: 100px;
    width: 48%;
    height: 100%;
    float: left;
}

.item-about {
    text-align: center;
    font-size: 1.5em;
    width: 100%;
    height: 150px;
    margin-top: 50px;
}

.item-about img {
    display: block;
    margin: 0 auto 15px;
}
.art-controls {
    box-sizing: border-box;
    padding-top: 100px;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
.art-controls h2 {
    font-weight: bold;
    font-size: 3.5em;
}
.item-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    width: 60%;
    height: 150px;
    margin: 0 auto;
    margin-top: 50px;
}
.item-controls img{
    margin: 0 40px;
}
.section-developer h2 {
    text-align: center;
    font-weight: bold;
    font-size: 3.5em;
    margin-top: 80px;
}
.section-developer{
    text-align: center;
}
.section-developer .container{
    padding: 100px 0;
}
.section-developer .container img{
    display: block;
    margin: 0 auto 40px;
    width: 250px;
    height: 250px;
}
.section-developer h3{
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}
.section-developer span{
    padding: 5px;
    display: block;
    font-size: 1em;
}
.footer .social-icons{
    margin-top: 60px;
    margin-right: 350px;
    float: right;
}
.footer .container{
    font-size: 1.5em;
    float: left;
    margin: 61px 0 0 350px;
}
.social-icons {
    text-align: center;
   width: 140px;
   height: 50px;
   margin: 10px auto;
}

.icon {
    width: 35px;
    height: 35px;
    float: left;
    background: url("../assets/img/social-icons.png") no-repeat;
    cursor: pointer;
}

.social-icons a:nth-child(2) .icon {
    background-position: -35px 0;
}

.social-icons a:nth-child(3) .icon {
    background-position: -105px 0;
}
.social-icons a:nth-child(4) .icon {
    background-position: -70px 0;
}
.section-screenshots h2 {
    text-align: center;
    font-weight: bold;
    font-size: 3.5em;
    margin-bottom: 40px;
    margin-top: 80px;
}
.min-screenshots {
    padding-top: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.min-screenshots img,
.largeImage {
    border: 1px solid gray;
    padding: 3px;
    background-color: white;
    cursor: pointer;
    width: 550px;
    height: 322px;
}

.min-screenshots img {
    float: left;
    margin-right: 6px;
    width: 250px;
    height: 146px;
}

.description {
    background: black;
    color: white;
    position: absolute;
    bottom: 2px;
    left: 0;
    padding: 10px 20px;
    width: 508px;
    margin: 5px;
    text-align: left;
}

.panel {
    width: 560px;
    margin: 0 auto 20px;
    text-align: center;
    position: relative;
}
.button_hola,
.button_hola::before,
.button_hola::after,
.button_hola a,
.button_hola a::before,
.button_hola a::after {
    transition: all ease .5s;
    color: white;
}

.button_hola {
    font-size: 2.5em;
    font-weight: bold;
    position: absolute;
    display: block;
    padding: 0.3em;
    margin: 1em;
    margin-top: 55vh;
    margin-left: 9%;
    border: solid 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.button_hola:hover {
    box-shadow: 0 0 5em .5em rgba(50, 50, 150, 0.5);
}

.button_hola a {
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;
    padding: 0.5em 2.5em;
}

.button_hola:hover a {
    background-color: #7bb2f7;
    color: white;
}

.button_hola::before,
.button_hola::after,
.button_hola a::before,
.button_hola a::after {
    content: '';
    position: absolute;
    border: 1px;
}

.button_hola::before,
.button_hola a::before {
    border-style: solid none;
}

.button_hola::before,
.button_hola a::after {
    left: 0;
    top: -0.4em;
    width: 100%;
    height: calc(100% + 0.8em);
}

.button_hola::after,
.button_hola a::after {
    border-style: none solid;
}

.button_hola::after,
.button_hola a::before {
    top: 0;
    left: -0.4em;
    height: 100%;
    width: calc(100% + 0.8em);
}

.button_hola:hover::after,
.button_hola:hover a::after {
    transform: scaleY(0);
}

.button_hola:hover::before,
.button_hola:hover a::before {
    transform: scaleX(0);
}

.button_hola:hover a::after,
.button_hola:hover a::before {
    opacity: 0;
}

.footer {
    height: 200px;
    color: white;
    background-color: rgb(117, 117, 117);
}